/*começo pagina inicial*/
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #716a6a;
}
#banner{
    margin-top: 1%;
    max-width: 100%;
    height: auto;
}
nav{
    background:#1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: rgb(218, 152, 19);
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    display: inline-block;
    background:#1b1b1b;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 22px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: rgb(218, 152, 19);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(218, 152, 19)
                0 0 5px rgb(218, 152, 19);
}
nav ul ul li a:hover{
    color: rgb(218, 152, 19);
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid rgb(218, 152, 19);
    opacity: 0;
    visibility: hidden;  
    transition: .3s;  
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solod rgba(0, 0, 0, 0.3);
}
nav ul  ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}
span .fa-plus{
    margin-left: 40px;
    font-size: 15px;
    color: rgb(218, 152, 19);
}
.show, .icon {
    display: none;
    color: rgb(218, 152, 19);
}
.menu_check{
    display: none;
    color: rgb(218, 152, 19);
}
@media all and (max-width:968px){
    nav ul{
        margin-right: 0px;
        float: left;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li{      
        position: static;
    }
    nav ul ul li{
        border-bottom: opx;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul a{
        padding-left: 80px;
    }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color:rgb(218, 152, 19);
    }
    .icon{
        display: block;
        color:  rgb(218, 152, 19);
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}
/*fim pagina inicial*/

/*começo pagina cad_cliente*/


h1{ /*barra com o nome da empresa*/
    background: #3c3c3c;
    text-align: center;
    color:#ffb200;
    font-size: 50px;
    width: 100%;
    height: 20%;
    padding: 5px;
    margin-top: 0%;
}
.container {
    max-width: 700px;
    margin: 50px auto;
    margin-top: -1%;
    padding: 20px;
    background-color: #9ceabf;
    border-radius: 8px;
}
h2 {
    text-align: center;
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}
.form-group {
    margin-bottom: 20px;    
}
.form-group input {
    margin-bottom: 20px;
}
.botoes{
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
}
 input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    display: inline;
    text-align: center;
}
.btn_retornar{
    background-color: red;
}
.btn_retornar a{
    color:#fff; ;
    text-decoration: none;
}
.btn_retornar:hover{
    background-color: rgb(203, 103, 98);
    transition: 0.9s;
}
.btn_enviar{
    background-color: rgb(13, 79, 57);
}
.btn_enviar:hover{
    background-color: rgb(18, 214, 122);
    transition: 0.9s;
}
.btn_limpar{
    background-color: rgb(18, 87, 127);
}
.btn_limpar:hover{
    background-color: rgb(18, 194, 214);
    transition: 0.9s;
}


/*inicio carrocel de iamgen*/
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400px;
    height: 400px;
    display: flex;
    
}
/*fim carrocel de iamgen*/




.container_carrocel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

.card{
    background-color: #ffb200;
    width: 150px;
    height: 330px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
   
}
.card img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
.card h1{
    font-size: 1.2rem;
}
.card h2{
    font-size: .9rem;
    color: #479e05f3;
}

.card button{
    background-color: #2192ff;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}
.card button:hover{
    background-color: #137de8;
    cursor: pointer;
}















.contato{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #1d1d2e;
    width: 500px;
    height: 650px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    border-radius: 10px;
   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h4{
    color: #f2eaea;
    font-size: 2.5rem;
    margin: 2rem;
    padding: 10px;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
label{
    color: rgba(13, 12, 12, 0.96);
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 100px;
    
    
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.botaoContato{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contato label{
    color: rgb(249, 240, 240);
    font-size: 15px;
}


/*Página do Obrigado*/

.main{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #101026;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}